# Manual builds
builds/

# Dependencies
node_modules/

# Test files
coverage/

# Expo
.expo/
web-build/

# NPM files
npm-debug.*

# Certificates/credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# OS-specific
.DS_Store
